---
interface Props {
  image: string;
  title: string;
  description: string;
  date: string;
}
const { image, title, description, date } = Astro.props;

const newD = new Date(date);
import { Icon } from "astro-icon/components";
---

<div class="p-8">
  <img src={`../images/` + image} alt={title} />
  <h2 class="font-bold greenText text-lg">{title}</h2>
  <p class="text-sm">{description}</p>
  <div class="flex justify-between p-4">
    <div><Icon name="mdi:calendar" /></div>
    <div><span>{newD.toDateString()}</span></div>
    <div class="flex">
      <a href="/" class="greenText font-bold">Read More</a>
    </div>
  </div>
</div>
