---
import { Icon } from "astro-icon/components";
---

<section class="py-36 greenBG items-center text-center">
  <h2>Feel free to contact us</h2>
  <div class="text-white items-center">
    <Icon name="mdi:instagram" /><Icon name="mdi:facebook" /><Icon
      name="mdi:twitter"
    />
  </div>
</section>
